// Define variables for your color scheme

// Primary Colors:
$red: #EC5B55;
$orange: #F08C34;
$yellow: #F9DD6C;
$dark-green: #388174;
$teal: #49C5B6;
$seafoam: #A9D1D5;
$blue: #3983DD;
$dark-blue: #4A5DE6;
$purple: #7A55E7;
$black: #000000;
$white: #FFFFFF;
$light-gray: #EEF2F7;

// Secondary Colors:
$font-red: #AF1F0E;
$font-orange: #C55123;
$font-yellow: #D8AB3A;
$font-aquamarine: #73FBE2;
$font-dark-green: #255A55;
$font-seafoam: #5A8085;
$font-blue: #A5D3FB;
$font-dark-blue: #B0BAFA;
$font-purple: #BDAAE8;
