// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Playfair+Display|Suranna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

// Define fonts for body and headers
$body-font: 'Playfair Display', serif;
$headers-font: 'Suranna', serif;
$accent-font: 'Muli', sans-serif;
$brand-font: 'DM Serif Display', serif;
