.portfolio {
  background-color: $white;
  color: $black;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  border-radius: 5px;
}

.portfolio h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  font-family: $brand-font;
}

.portfolio p {
  font-size: 20px;
  text-align: center;
  font-family: $headers-font;
}

@media only screen and (max-width: 600px) {
  .portfolio h1, .portfolio p, .portfolio-wrapper {
    padding: 20px 10px;
    text-align: center;
  }
}
