<div class= "about">
  <div class= "about-container">
    <div class="about-text">
      <h1>Waving from</h1>
      <div class="rio"> Rio</div>
      <div class="de"> de</div>
      <div class="janeiro"> Janeiro</div>
    </div>
    <div class="about-img">
      <div class="about-social-media">
        <%= render "shared/social-media" %>
      </div>
    </div>
  </div>
  <h2> Nice to meet you. I'm Kam. </h2>
  <p> Kam is a believer in underdogs, experiential education, and the power of technology for social good.
She’s currently a Senior Career Developer at Dev Bootcamp, the 1st immersive software development school, where she has worked on apprenticeships for non-traditional and underrepresented software engineers at companies like Uber, Airbnb, LinkedIn, and Pinterest.
An aspiring social entrepreneur, she worked closely with Leila Janah at Sama, a San Francisco based non-profit offering digital work and 21st century job training to people living in poverty in the U.S., Ghana, Kenya, India, and Uganda and was the first Community Manager at AngelHack, the world's largest hackathon competition, representing the company across Asia and the Middle East.
In 2012, she lived in Hyderabad, India as an IDEX Fellow in Social Enterprise, testing the viability of low cost tablet technologies in schools in slums.
She is the co-founder of TEDxUCIrvine and love travel, reading, dogs, running, entrepreneurship, and a good game of soccer. </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <center>
    <%= render "shared/biz-cards" %>
  </center>
</div>
