  <div class="portfolio-card-allyshipio">
    <div class="portfolio-img-allyshipio">
      Coming Soon
    </div>
    <div class="portfolio-card-title">
      allyship.io
        <div class="portfolio-card-description">
          A go-to resource for allyship best practices, designed specifically for tech professionals.
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info">TBD!</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">DE&I</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">TBA!</div>
    </div>
    <div class="portfolio-button-allyshipio">
      <a class="button"><i class="fas fa-hourglass-half"></i></a>
    </div>
  </div>
