  <div class="portfolio-card-apprenticeshipio">
    <div class="portfolio-img-apprenticeshipio">
    </div>
    <div class="portfolio-card-title">
      apprenticeship.io
        <div class="portfolio-card-description">
          The largest community of U.S. based software engineering apprenticeships. On a mission to make apprenticeships tech industry standard.
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info"><i class="devicon-ruby-plain-wordmark"></i> <i class="devicon-rails-plain-wordmark"></i> <i class="devicon-html5-plain-wordmark"></i> <i class="devicon-css3-plain-wordmark"></i> <i class="devicon-javascript-plain"></i></div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">Recruitment + Hiring</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">October 2017</div>
    </div>
    <div class="portfolio-button">
      <a class="button">Learn More</a>
    </div>
  </div>
