<div class="tariffCards">
    <div class="economy">
      <img src="" alt="" height="">
      <h3>Economy Class</h3>
      <span>Full Insurance</span>
    </div>
    <div class="premiumeconomy">
      <img src="" alt="" height="">
      <h3>Premium Economy Class</h3>
      <span>Full Insurance</span>
    </div>
    <div class="business">
      <img src="" alt="Business" height="74">
      <h3>Business Class</h3>
      <span>Full Insurance</span>
    </div>
    <div class="first">
      <img src="" alt="" height="">
      <h3>First Class</h3>
      <span>Full Insurance</span>
    </div>
  </div>
