  <div class="portfolio-card-datesy">
    <div class="portfolio-img-datesy">
    </div>
    <div class="portfolio-card-title">
      Datesy
        <div class="portfolio-card-description">
          A mobile app that streamlines online dating for singles and lets committed and married people join in on the fun of dating by matchmaking for their single friends.
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info"><i class="devicon-ruby-plain-wordmark"></i> <i class="devicon-rails-plain-wordmark"></i> <i class="devicon-html5-plain-wordmark"></i> <i class="devicon-css3-plain-wordmark"></i> <i class="devicon-javascript-plain"></i></div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">Online Dating</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">December 2020</div>
    </div>
    <div class="portfolio-button">
      <a class="button">Learn More</a>
    </div>
  </div>
