<div class="masonry-wrapper"><div class="masonry">

<!--   Image 1 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/325?image=100" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 2 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/450?image=200" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 3 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=300" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 4 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/540?image=400" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 5 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/380?image=500" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 6 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=600" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 7 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/400?image=700" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 8 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=800" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 9 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=900" alt="Dummy Image" class="masonry-content">
  </div>

<!--   Image 10 -->
  <div class="masonry-item">
    <img src="https://picsum.photos/450/480?image=925" alt="Dummy Image" class="masonry-content">
  </div>

</div>
</div>
