<div class="wrapper">
  <header class="header">
    <div class="sponsor">
      Interested in sponsoring? <button class="btn">Learn More </button>
    </div>

    <div class="mode-div">
      Mode: <br>
      Inspo  //  List
    </div>

    <div class="subscribe-div">
      Subscribe: <br>
      <i class="fas fa-envelope fa-lg"></i>
      <i class="fas fa-rss-square fa-lg"></i>
    </div>
  </header>

  <aside class="sidebar">
    <div class="description-div">
      kamr.in is an inspiration blog run by Kamrin Klauschie. Kam co-founded apprenticeship.io, allyship.io, Onramp, and TEDxUCIrvine. Expect quotes, books, photography, interior design, art, travel, nature, beauty, and fun.
    </div>

    <div class="social-div">
      Follow:<br>
        <a href="https://twitter.com/kamrinklauschie"><i class="fab fa-twitter-square fa-lg"></i></a>
        <a href="https://www.facebook.com/kamrin.klauschie"><i class="fab fa-facebook-square fa-lg"></i></a>
        <a href="https://www.linkedin.com/in/kamrin"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="https://www.pinterest.com/kamrinklauschie"><i class="fab fa-pinterest-square fa-lg"></i></a>
        <a href="https://www.instagram.com/kamrinklauschie"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="https://github.com/kamrinklauschie"><i class="fab fa-github-square fa-lg" href=""></i></a>
    </div>
  </aside>

  <article class="content">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <div class="grid-item quote">
        “This is weirdly freeing: you don’t have any obligation to your former self. There’s no loyalty to them, there’s no loyalty to a desire you once had. There is one person I can say objectively that I am smarter than, and it is me 4 years ago, because he knew all the things I currently know except less, and he had all the life experiences that I have except fewer. So why do I have an obligation to a guy who is literally dumber than me, and literally does not exist?“<br> - Hank Green
      </div>
      <div class="grid-item grid-item--width2">
        <img src="https://i.picsum.photos/id/1010/5184/3456.jpg" alt="A child reading">
      </div>
      <div class="grid-item">
        <img src="https://i.picsum.photos/id/1011/5472/3648.jpg" alt="A girl in a canoe">
      </div>
      <div class="grid-item .grid-item--height2">
        <img src="https://i.picsum.photos/id/1025/4951/3301.jpg" alt="A French bulldog in a blanket">
      </div>
      <div class="grid-item quote">
        “Much more genius is needed to make love than to command armies.”<br> - Ninon De L’Enclos
      </div>
      <div class="grid-item">
        <img src="https://i.picsum.photos/id/1011/5472/3648.jpg" alt="A girl in a canoe">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="https://i.picsum.photos/id/1010/5184/3456.jpg" alt="A child reading">
      </div>
      <div class="grid-item .grid-item--height2">
        <img src="https://i.picsum.photos/id/1025/4951/3301.jpg" alt="A French bulldog in a blanket">
      </div>
    </div>
  </article>
</div>
