<div class="sponsor">
  Interested in sponsoring? <button class="btn">Learn More </button>
</div>

<div class="subscribe-div">
  Subscribe: <br>
  <i class="fas fa-envelope fa-lg"></i>
  <i class="fas fa-rss-square fa-lg"></i>
</div>

<div class="parent">
  <div class="content-div">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      This is where all the magic will live. Quotes, photography, beauty, oh my!
    <div class="grid-item">
      <img src="https://i.picsum.photos/id/1011/5472/3648.jpg" alt="A girl in a canoe">
    </div>
    <div class="grid-item grid-item--width2">
      <img src="https://i.picsum.photos/id/1010/5184/3456.jpg" alt="A child reading">
    </div>
    <div class="grid-item">
      <img src="https://i.picsum.photos/id/1025/4951/3301.jpg" alt="A French bulldog in a blanket">
    </div>
  </div>
</div>

  <div class="description-div">
    kamr.in is an inspiration blog run by Kamrin Klauschie. Kam co-founded apprenticeship.io, allyship.io, Onramp, and TEDxUCIrvine. Expect quotes, books, photography, interior design, art, travel, nature, beauty, and fun.
  </div>

  <div class="social-div">
    Follow:<br>
    <i class="fab fa-twitter-square fa-lg"></i>
    <i class="fab fa-facebook-square fa-lg"></i>
    <i class="fab fa-linkedin fa-lg"></i>
    <i class="fab fa-pinterest-square fa-lg"></i>
    <i class="fab fa-instagram fa-lg"></i>
    <i class="fab fa-github-square fa-lg"></i>
  </div>
</div>
