  <div class="portfolio-card-kamrin">
    <div class="portfolio-img-kamrin">
    </div>
    <div class="portfolio-card-title">
      kamr.in
        <div class="portfolio-card-description">
          kamr.in is an inspiration blog run by Kamrin Klauschie. Expect quotes, books, photography, interior design, art, travel, nature, beauty, and fun. You're on it right now, silly!
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info"><i class="devicon-ruby-plain-wordmark"></i> <i class="devicon-rails-plain-wordmark"></i> <i class="devicon-html5-plain-wordmark"></i> <i class="devicon-css3-plain-wordmark"></i> <i class="devicon-javascript-plain"></i></div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">Portfolio</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">January 2020</div>
    </div>
    <div class="portfolio-button">
      <a class="button">Learn More</a>
    </div>
  </div>
