<div class="media-options">
   <div class="media-option active" style="--optionBackground:url(https://i.imgur.com/QadvcMi.jpg);">
      <div class="media-shadow"></div>
      <div class="media-label">
         <div class="media-img">
            <img src="https://i.imgur.com/wuR8n03.jpg" height="40" width="40">
         </div>
         <div class="media-info">
            <div class="media-main">Apprenticeships 101</div>
            <div class="media-sub">What We Learned from our Panel with LinkedIn, Pinterest, Airbnb, and Adobe</div>
         </div>
      </div>
   </div>
   <div class="media-option" style="--optionBackground:url(https://lh3.googleusercontent.com/TKIuy-J1ofGkcLjvwwWQDrqvCnmtcta72IyhV7Csa0LTnrBvMH1C3ygzEctwV6DIidUSx6GkdTJp-3ehbD_9pLG2GtT4OMZZ6EO_di6ntrFIF26Kv19ZFpJEAxyfZ1cg30HY61EsamG53J00yyGWdM5pylK0ppRyH2xVKkTGV0eH6plFDUMx9_WAlA-f5zIy5qfIBqnoRTD0AT1SA2g9BW1yDF4FfXBSf3vv9U9ib1A2E69S-KeV-PWfD_1U5Pqx8L0ZkDpDcD0Dg3lSUSrkQIGg4hnwWJhfPo-KdcX7TmTPBNTFmXZUMQgrf3KH2SYYc22YtvrZoJLTUOV917QitHt01OBBgEzky99h1go4id6JztSMsyRiwzxi2V0pDJm9yHIXNbE57izB3qsmIPzX448IGFfCumg3qN5LYFbweLNvT70iQ-w0-_ZvDNrJwMQDrVzK_Z7IMIgj5nSkP3_poxoCs5_SIHMnnNvKbmH5f-kfYA_7KLkow1nDCKmHn19DfmY62GRjkiM4oLxoAHlIlpegBqUzbtW7YWwHte5j2OFIJzWG52yQCGRJ6Nd-fMB-f133aVXOY4flt9P4z1JxgoFqC5RPtVmSIQjdLMIMgZ0-fMmEvWc_fwy9hcOOOLJHu1iMdrVinRWQk5fmVdYocfwXq4okBqit-8P6dxVEuwkN1RYGqUgAwUJLsEC8wg=w1280-h853-no);">
      <div class="media-shadow"></div>
      <div class="media-label">
         <div class="media-img">
            <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F46992472%2F180960909923%2F2%2Foriginal.png?w=225&auto=format%2Ccompress&q=75&sharp=10&s=1a43f932fe3fcf74b7bb1d8652ae12f6" height="40" width="40">
         </div>
         <div class="media-info">
            <div class="media-main">Meet the Women of Le Wagon Brazil 🇧🇷</div>
            <div class="media-sub">How They Got into the Tech Industry and Their Advice for You</div>
         </div>
      </div>
   </div>
   <div class="media-option" style="--optionBackground:url(https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
      <div class="media-shadow"></div>
      <div class="media-label">
         <div class="media-img">
            <img src="https://media-exp1.licdn.com/dms/image/C560BAQFlZdPYDQIf1A/company-logo_200_200/0?e=2159024400&v=beta&t=abz6NWk8hjlSPvOr46v41EyuwQ70b5HFgoRTzqB06OU" height="30" width="40">
         </div>
         <div class="media-info">
            <div class="media-main">Signs You Should Not Take That Programming Job</div>
            <div class="media-sub">Here’s How to Avoid Getting Stuck in a Dead-End Coding Gig</div>
         </div>
      </div>
   </div>
   <div class="media-option" style="--optionBackground:url(https://lh3.googleusercontent.com/PNzZZvBr2JfvFmLVgnsZONldldweEKpAX9uEt9hwzGdzR4-OymIVfOIoRXMpR_QZ_uTfxQLsgal98WlW5WZ8RqTfsFXGxOo0IUk5vO17gXLF6Br32yHjmWtg4Ch1LXXEzK1-hfLXXEOTwSgFeEj36G5IKJgr3bqd7ke-fuMvg33vKKJoAQ8IlSwkyggNZnw3Rx6b2hwm4lsn9w92exl4zbq0Za7t1PHQbkHTEilliuFoiShX2pIzkx2PiCsAg8yk7LbXDELQTxOY6hwz2X7hTOpwBYyEdaU0k3zBgC390lHfHcFQBRF_Zu7HW09D1YcS_asUtHVICYi2AXKnb3xWdcuYwkEIkpPapDLeRdV1RzYSBnblW8MKPdpPUZRZV1xXHVwRlQZqTxBhiO2IMpDR-iQQphNmV1xT33_kmtwy1OKeGpIuRXsrbOxG6wmPTEzV-6sGg9BCj4n7ZlNZackruWHoPd32YhZbgCi_ZG1RffoiRmpSSsaJpS6pBMf9KCsM--2CfIM5qs2cRl4rPzsjYuAW66VrRMf9NznYzG39e6x6RaFb_GIk6MXt8_n_g3EPqS1QYvDC2TR5Q7oNa1p4ln-xG4BGA7TGjo4mdu1UjX-M5363NGCRgUIYmbw1rDouOWWX1gqVPUfkfNRUOxo7FgV7jvhBjbQ3lT4aY0rncpxO1BpJtcm7rst5qO7m9A=w1950-h1128-no);">
      <div class="media-shadow"></div>
      <div class="media-label">
         <div class="media-img">
            <img src= "https://scontent.fsdu5-1.fna.fbcdn.net/v/t1.0-9/83818914_1236178149911604_886345185330462720_n.png?_nc_cat=101&_nc_sid=85a577&_nc_ohc=l139H40MLjEAX9FMQa6&_nc_ht=scontent.fsdu5-1.fna&oh=2f47c0c3d80b67cd861a1d1f06974ed5&oe=5E9CDE51">
         </div>
         <div class="media-info">
            <div class="media-main">Creating a Startup Culture that Embraces Community</div>
            <div class="media-sub">A Quick Guide for Community Managers to Finding a Values Aligned Company and Meaningful Work</div>
         </div>
      </div>
   </div>
   <div class="media-option" style="--optionBackground:url(https://live.staticflickr.com/7314/9387908372_5dd3e1c461_k.jpg);">
      <div class="media-shadow"></div>
      <div class="media-label">
         <div class="media-img">
            <img src="https://i.imgur.com/HvTQKDC.png" height="40" width="40">
         </div>
         <div class="media-info">
            <div class="media-main">Sorority Squat: My Trip through the Greek System & Back</div>
            <div class="media-sub">Success is Who You Are, Not What You Do.</div>
         </div>
      </div>
   </div>
</div>


