<div class="navbar navbar-expand-sm navbar-light navbar-kamrin">
  <a class="navbar-brand" href="home">
    K
  </a>
  <div class="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
