<div class="navbar navbar-expand-sm navbar-light navbar-kamrin">
  <div class="red-blob-container">
  </div>
  <%= link_to "K", home_path, class: "navbar-brand" %>
  </a>
  <div class="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Me", href="mailto: kamrin.klauschie@gmail.com", class: "btn-nav nav-link" %>
      </li>
    </ul>
  </div>
  <div class="orange-blob-container">
  </div>
</div>
