  <div class="portfolio-card-nuzzle">
    <div class="portfolio-img-nuzzle">
    </div>
    <div class="portfolio-card-title">
      Nuzzle
        <div class="portfolio-card-description">
          An Airbnb-like marketplace where animal lovers can share their pets for short term rental. It's a joke!
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info"><i class="devicon-ruby-plain-wordmark"></i> <i class="devicon-rails-plain-wordmark"></i> <i class="devicon-html5-plain-wordmark"></i> <i class="devicon-css3-plain-wordmark"></i> <i class="devicon-javascript-plain"></i></div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">Marketplace</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">November 2020</div>
    </div>
    <div class="portfolio-button">
      <a class="button">Learn More</a>
    </div>
  </div>
