<section>
  <div class="portfolio-card"> <!-- Profile Profile-Default -->
    <div class="portfolio-img"> <!-- Profile Image -->
      <img src="">
    </div>
    <div class="portfolio-card-title"> <!-- Profile Info -->
      <h3>Project Name</h3>
        <p class="portfolio-card-description"> <!-- Profile Info Extra -->
          A very awesome project that you'll definitely want to check out because I made it look cool.
        </p>
    </div>
    <div class="portfolio-card-classification"> <!-- Profile Stats -->
      <p class="porfolio-stats-title">Tech Stack:</p> <!-- Profile Stats Title -->
      <h5 class="portfolio-stats-info">Ruby, Ruby on Rails, JavaScript</h5> <!-- Profile Stats Info -->
    </div>
    <div class="portfolio-card-classification"> <!-- Profile Stats -->
      <p class="porfolio-stats-title">Topic:</p> <!-- Profile Stats Title -->
      <h5 class="portfolio-stats-info">Online Dating</h5> <!-- Profile Stats Info -->
    </div>
    <div class="portfolio-card-classification"> <!-- Profile Stats -->
      <p class="porfolio-stats-title">Date:</p> <!-- Profile Stats Title -->
      <h5 class="portfolio-stats-info">March 2020</h5> <!-- Profile Stats Info -->
    </div>
    <div class="portfolio-button">
      <a class="button">Learn More</a>
    </div>
  </div>
</section>
