<div class="project-options">
   <div class="project-option active" style="--optionBackground:url(https://i.imgur.com/QadvcMi.jpg);">
      <div class="project-shadow"></div>
      <div class="project-label">
         <div class="project-img">
            <img src="https://i.imgur.com/JoxcDUk.png">
         </div>
         <div class="project-info">
            <div class="project-main">apprenticeship.io</div>
            <div class="project-sub">The Largest Community of U.S. Based Software Engineering Apprenticeships</div>
         </div>
      </div>
   </div>
   <div class="project-option" style="--optionBackground:url(https://i.imgur.com/4x2Mp4F.jpg);">
      <div class="project-shadow"></div>
      <div class="project-label">
         <div class="project-img">
            <img src="">
         </div>
         <div class="project-info">
            <div class="project-main">Datesy</div>
            <div class="project-sub">Let Committed and Married People Join In On the Fun of Dating, To Help Your Single Friends</div>
         </div>
      </div>
   </div>
   <div class="project-option" style="--optionBackground:url(https://i.imgur.com/JLyU1fp.jpg);">
      <div class="project-shadow"></div>
      <div class="project-label">
         <div class="project-img">
            <img src="">
         </div>
         <div class="project-info">
            <div class="project-main">Nuzzle</div>
            <div class="project-sub">An Airbnb-Like Marketplace Where Animal Lovers Can Share Their Pets for Short Term Rental</div>
         </div>
      </div>
   </div>
   <div class="project-option" style="--optionBackground:url();">
      <div class="project-shadow"></div>
      <div class="project-label">
         <div class="project-img">
            <img src= "https://i.imgur.com/paGbcOE.png">
         </div>
         <div class="project-info">
            <div class="project-main">allyship.io</div>
            <div class="project-sub">Omuke trughte a otufta</div>
         </div>
      </div>
   </div>
   <div class="project-option" style="--optionBackground:url();">
      <div class="project-shadow"></div>
      <div class="project-label">
         <div class="project-img">
            <img src="">
         </div>
         <div class="project-info">
            <div class="project-main">technicalcareers.io</div>
            <div class="project-sub">Omuke trughte a otufta</div>
         </div>
      </div>
   </div>
</div>
