<input type="hidden" name="" value="">
<label class="checkbox-switch">
  <div class="checkbox-switch-container" id="button-13">
    <input type="checkbox" class="checkbox" value="" name="">
    <div class="knobs">
      <span></span>
    </div>
    <div class="layer"></div>
  </div>
  <span>< ></span>
</label>
