<a href="https://twitter.com/kamrinklauschie"><i class="fab fa-twitter-square fa-lg"></i></a>
<a href="https://www.facebook.com/kamrin.klauschie"><i class="fab fa-facebook-square fa-lg"></i></a>
<a href="https://www.linkedin.com/in/kamrin"><i class="fab fa-linkedin fa-lg"></i></a>
<a href="https://www.pinterest.com/kamrinklauschie"><i class="fab fa-pinterest-square fa-lg"></i></a>
<a href="https://www.instagram.com/kamrinklauschie"><i class="fab fa-instagram-square fa-lg"></i></a>
<a href="https://github.com/kamrinklauschie"><i class="fab fa-github-square fa-lg"></i></a>
