  <div class="portfolio-card-technicalcareersio">
    <div class="portfolio-img-technicalcareersio">
      Coming Soon
    </div>
    <div class="portfolio-card-title">
      technicalcareers.io
        <div class="portfolio-card-description">
          A go-to resource for professionals, educators, and students to explore and learn about technology careers.
        </div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Stack:</div>
      <div class="portfolio-stats-info">TBD!</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Topic:</div>
      <div class="portfolio-stats-info">Education</div>
    </div>
    <div class="portfolio-card-classification">
      <div class="porfolio-stats-title">Date:</div>
      <div class="portfolio-stats-info">TBA!</div>
    </div>
    <div class="portfolio-button-technicalcareersio">
      <a class="button"><i class="fas fa-hourglass-half"></i></a>
    </div>
  </div>
