<section class="switches">
  <div class="switch switch--7">
    <label class="switch__label">
      <input type="checkbox" class="switch__input">
      <span class="switch__design"></span>
    </label>
  </div>
</section>
