<%= render "shared/mini-banner" %>
<div class= "about">
  <div class= "about-container">
    <div class="about-text">
      <h1>Waving from</h1>
      <div class="rio"> Rio</div>
      <div class="de"> de</div>
      <div class="janeiro"> Janeiro</div>
    </div>
    <div class="about-img">
      <div class="about-social-media">
        <%= render "shared/social-media" %>
      </div>
    </div>
  </div>

<br><br>
<h2> Nice to meet you. I'm Kam. </h2>

  <div class= "about-container">
    <div class="about-text">
        <br><br>
        <p> Kam is a believer in underdogs, immersive learning, and the power of technology for social good.<br><br>
        These days, Kam is transitioning into front end engineering after a year long, refreshing sabbatical in South America. She's currently a Career Advisor at Pathrise and Program Advisor at Resilia.<br><br>
        She was the Director of Partnerships at Learners Guild, the 1st income share agreement based immersive web development school, and a Senior Career Developer at Dev Bootcamp, the 1st immersive software development school, where she worked on apprenticeships for non-traditional and underrepresented software engineers at companies like Uber, Airbnb, Twilio, Lyft, Microsoft, LinkedIn, and Pinterest.<br><br>
        Kam worked closely with award winning social entrepreneur Leila Janah on all 4 of Leila's organizations: LXMI, Samasource, Samaschool, and Samahope, before Leila passed away from cancer in January 2020. Leila's influence on Kam's approach and rigor in workforce development and social entrepreneurship cannot be understated.<br><br>
        Kam was the first Community Manager at AngelHack, the world's largest hackathon competition, representing the company across Asia and the Middle East. She fell in love with software developer communities across the United Arab Emirites, India, Israel, the Philippines, Singapore, Indonesia, and more, even though she didn't know the difference between Java and JavaScript then.<br><br>
        After college, Kam moved to Hyderabad, India as an IDEX Fellow in Social Enterprise, testing the viability of low cost tablet technologies in schools in slums. Since she couldn't afford to live on a non-profit fellowship salary, she also worked part time as the Intern on the Initiatives team at Intellecap and as a Community Manager at the tech startup Storemate. <br><br>
        She is the co-founder of TEDxUCIrvine, her university's extension of the ideas conference TED, and Onramp, a B2B workforce development company in Oakland.<br><br>
        She won the America's Most Beautiful Baby pageant and once drove 60 passenger busses and stretch Hummer limos for a living. She loves traveling, reading, dogs, and a good game of soccer. </p>
    </div>
  </div>
