<%= render "shared/mini-banner" %>
<div class="portfolio">
<h1> Projects </h1>
<p> My favorite programming projects so far: from online dating to workforce development, there's never a dull moment. </p>
<center>
<%= render "shared/project-card" %>
</center>
<h1> Media </h1>
<p> Here are a few highlights of my best corporate blog posts, publications, and by-lines in online media.</p>
<center>
<%= render "shared/media-card" %>
<i class="fas fa-egg"></i>
<a href= "https://www.youtube.com/watch?v=5WT5WGlLnP4"></a>
</center>
</div>
