.bizcards {
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
.bizcards:after {
  position: absolute;
  left: 5%;
  width: 65%;
  height: 10px;
  border-radius: 100%;
}
.bizcards > div {
  position: relative;
  width: 280px;
  height: 140px;
  border-radius: 12px;
  transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.bizcards > div:after {
  position: absolute;
  width: 200%;
  height: 200%;
  transform: translateX(-100%);
}
.bizcards > div img {
  margin-top: 15px;
  pointer-events: none;
}
.bizcards > div h3 {
  font-family: $sama-font;
  position: absolute;
  bottom: 28px;
  left: 15px;
  font-size: 18px;
  font-weight: 800;
}
.bizcards > div span {
  position: absolute;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}
.bizcards > div.devbootcamp {
  font-family: $dbc-font;
  color: #19ABB5;
  margin-top: 0;
  z-index: 3;
  background-color: #C8C8C8;
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #C8C8C8;
}
.bizcards > div.sama {
  font-family: $sama-font;
  color: white;
  margin-top: -70px;
  z-index: 2;
  background-color: #FFD503;
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #FFD503;
}
.bizcards > div.angelhack {
  font-family: $angelhack-font;
  color: white;
  margin-top: -70px;
  z-index: 1;
  background-color: #BF1422;
  box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #BF1422;
}
.bizcards > div.tedxucirvine {
  font-family: $tedx-font;
  color: $white;
  margin-top: -70px;
  background-color: $black;
  box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0px 1px $black;
}
.bizcards > div:hover {
  transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}
