// .btn-small {
//   color: white;
//   padding: 2px 6px;
//   border-radius: 4px;
//   background: black;
//   transition: background 0.3s ease;
//   font-size: 10px;
// }

// .btn:hover {
//   background: black;
//   color: white;
// }

.btn-nav {
  color: white !important;
  padding: 6px 10px !important;
  border-radius: 10px !important;
  background: $teal;
  font-family: $accent-font;
  margin-left: 10px;
  align-items: center;
}

.btn-nav:hover {
  background: $teal;
  color: white;
}

.portfolio-button {
  grid-column: span 3;
  padding: 6px 10px !important;
  color: $white !important;
  margin: 10px 50px 15px 50px;
  font-family: $accent-font;
  font-size: 14px;
  text-align: center;
  background-color: $teal;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}

.portfolio-button:hover {
  transform: scale(1.1);
}

.portfolio-button-allyshipio, .portfolio-button-technicalcareersio {
  grid-column: span 3;
  padding: 6px 10px !important;
  color: $black !important;
  margin: 10px 50px 15px 50px;
  font-family: $accent-font;
  font-size: 14px;
  text-align: center;
  background-color: $light-gray;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}
