.btn-small {
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  font-size: 10px;
}

.btn:hover {
  background: black;
  color: white;
}

.btn-nav {
  color: white !important;
  padding: 6px 10px !important;
  border-radius: 10px !important;
  background: $teal;
  font-family: $accent-font;
  margin-left: 10px;
  align-items: center;
}

.btn-nav:hover {
  background: $teal;
  color: white;
}
