.mini-banner {
  background-color: $teal;
  background-position: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(#333,0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 125px;
}

.mini-banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  text-align: center;
  font-family: $brand-font;
}

.mini-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .mini-banner {
    height: 90px;
  }
  .mini-banner h1 {
    font-size: 40px;
  }
}
