.navbar-kamrin {
  justify-content: space-between;
  font-size: 16px;
}

.navbar-kamrin .navbar-brand {
  font-family: $brand-font;
  font-size: 50px;
  color: $teal;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.navbar-nav {
  font-family: $accent-font;
}
