.navbar-kamrin {
  font-size: 16px;
  justify-content: space-around;
  padding: 5px 15%;
}

.navbar-kamrin .navbar-brand {
  font-family: $brand-font;
  font-size: 50px;
  color: $teal;
}

.navbar-brand:hover, .nav-item:hover {
  transform: scale(1.1);
}

.navbar-brand:hover {
  color: $teal !important;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.navbar-nav {
  font-family: $accent-font;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .navbar-nav * {
    margin: 2px auto;
  }
}
