.navbar-kamrin {
  justify-content: space-between;
  // background: $light-gray;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 16px;
}

.navbar-kamrin .navbar-brand {
  font-family: $brand-font;
  font-size: 50px;
  color: $teal;
}

