.checkbox-switch {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  justify-content: center;

  .checkbox-switch-container {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 26px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 0.5rem;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }
}

// Switch off background color
.layer {
  width: 100%;
  background-color: #f2f2f2;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-13 .knobs:before, #button-13 .knobs:after, #button-13 .knobs span {
  position: absolute;
  border-radius: 10px;
  transition: 0.3s ease all;
}

// Switch on knob color
#button-13 .knobs:before, #button-13 .knobs:after {
  color: #FCBDE5;
  z-index: 1;
}

#button-13 .knobs:before {
  left: 4px;
}

#button-13 .knobs:after {
  right: 4px;
}

// Switch off knob color
#button-13 .knobs span {
  width: 25px;
  left: 37px;
  background-color: #4e4e4e;
  z-index: 2;
}

// ???
#button-13 .checkbox:checked + .knobs span {
  left: 4px;
  background-color: #fcbde5;
}

// Switch on background color
#button-13 .checkbox:checked ~ .layer {
  background-color: #fcf0f8;
}
